<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Simple Calculator | Noxzyous</title>
        <meta charset="UTF-8">
        <style>
            .button {
			  background-color: hsl(165, 100%, 50%);
			  border: none;
			  color: white;
			  padding: 10px 32px;
			  text-align: center;
			  text-decoration: none;
			  display: inline-block;
			  font-size: 14px;
			  margin: 10px 2px;
			  cursor: pointer;
            }
        </style>
    </head>
    <body align="center" style="background-image: url(/image/anime-art.png);">
        <br><br><br>
        <div style="width: 100%; height: 100%; display: flex; margin: 0;">
            <div style="width:30%"></div>
            <div style="width:35%; color: black; background-color: purple; color: hsl(173, 24%, 14%); border: 2px solid hsl(165, 86%, 8%); box-shadow: 5px 5px 5px 5px hsl(165, 86%, 8%);">
            <br><br>
            <div align="center" style="background-color: white; color: hsl(203, 95%, 25%);"><h1>SIMPLE CALCULATOR</h1></div>
            <form action="/result" method="post">
                <div align="center">
                    <label style="color: rgb(207, 62, 62);"><b>Number 1:</b></label>
                    <input type="number" id="num1" name="num1" placeholder="Enter First  Value" style="background: transparent; border: 2px solid rgba(255, 255, 255, .2); border-radius: 30px ;">
                </div>
                <br>
                <div align="center">
                    <label style="color: rgb(207, 62, 62);"><b>Number 2:</b></label>
                    <input type="number" id="num2" name="num2" placeholder="Enter Second Value" style="background: transparent; border: 2px solid rgba(255, 255, 255, .2); border-radius: 30px;">
                </div>
                <br>

                <div>
                    <input type="radio" id="Addition" name="yor_job" value="Addition">
                    <label for="Addition">Addition</label>
                    <input type="radio" id="Subtraction" name="yor_job" value="Subtraction">
                    <label for="Subtraction">Subtraction</label>
                    <input type="radio" id="Multiplication" name="yor_job" value="Multiplication">
                    <label for="Multiplication">Multiplication</label>
                    <input type="radio" id="Division" name="yor_job" value="Division">
                    <label for="Division">Division</label><br>
                </div>
                <br>
                <div style="padding: 1px 1px 1px 1px 150px; border-radius: 30px;"><input class="button" type="submit" value="Do math" style="border: 2px solid white;" </div
        </div>
        <br>
    </body>
</html>